.interactive-video {
  min-width: 100%;

  &__video {
    display: block;
    max-height: 100vh;
    width: 100%;
  }

  &__question {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('https://raw.githubusercontent.com/bbrvi2008/interactive-video/master/src/files/questions/background.svg');
  }

  &__question-title {
    color: #FFF;
    text-align: center;
    padding: 0 22px;
    margin-bottom: 0;
  }

  &__answer-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  &__answer-item {
    flex: 1;
    background: none;
  }

  &__inner {
      position: relative;
      background: rgba(30, 30, 30, 0.6);
      box-shadow: 2px 2px 10px rgba(30, 30, 30, 0.6);
      min-width: 100%;

      @media (orientation : portrait) and (max-width: 767px)  {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: rgb(59, 66, 86);
          z-index: 10;
        }
      }
  }

  &__btn-play {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: #ccc;
    background: rgba(30, 30, 30, 0.6);
    border-radius: 50%;
    cursor: pointer;
    z-index: 9;
  }

  &__overlay {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: #ccc;  
    cursor: pointer;
    z-index: 10;

    @media (orientation : landscape), (min-width: 768px) {
      display: none;
    }
  }

  &__btn-close {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 48px;
    color: #ccc;
    background: rgba(30, 30, 30, 0.6);
    cursor: pointer;
    z-index: 9;
  }

  &__info {
    padding: 32px 32px;
    color: #FFF;
    font-size: 48px;
    line-height: 58px;
    font-weight: bold;
    text-align: center;
    filter: drop-shadow(2px 2px 2px rgba(30, 30, 30, 0.6));
  }

  &--fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(59, 66, 86, .97);
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);

    .interactive-video__btn-play {
      display: none;
    }

    .interactive-video__btn-close {
      display: block;
    }
  }
}