html {
  font-size: 10px;
  min-height: 100%;
}

body {
  overflow: auto;
  min-height: 100%;
  min-width: 320px;
  font-family: 'Roboto' ;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #3b4256;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.page-locked {
  overflow: hidden;
  height: 100vh;
}
.hidden {
  display: none !important;
}

.material-icons {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.btn {
  line-height: 2.4rem;
  min-width: 112px;
  display: inline-block;
  border-radius: 4px;
  background: #FFF;
  padding: 12px 15px;
  color: #3b4256 !important;
  font-weight: 500;
  text-align: center;
  border: none;
  -webkit-transition: all 0.2s linear 0s;
     -moz-transition: all 0.2s linear 0s;
      -ms-transition: all 0.2s linear 0s;
       -o-transition: all 0.2s linear 0s;
          transition: all 0.2s linear 0s;
}
// .btn:hover {
//   box-shadow: 0 16px 24px rgba(47,52,68,.16);
// }

.btn.btn__secondary {
  border: 1px solid #8f1a1e;
  background: #8f1a1e;
  color: #fff !important;
  box-shadow: none;
}
.btn.btn__secondary:hover {
  background: #8d191d;
}
.btn.btn__secondary:active {
  background: #8d191d;
}
.btn.btn__secondary:active:hover {
  background: #7a1619;
}
.btn.btn__secondary:disabled {
  background: #dde1e6;
  color: #848e99 !important;
  cursor: not-allowed;
}

h2 {
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: bold;
  letter-spacing: -0.4px;
  margin-bottom: 22px;
  margin-top: 22px;
  font-family: 'Roboto' !important;
}

@media screen and (min-width:768px) {
  h2 {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}