html {
  font-size: 10px;
  min-height: 100%;
}

body {
  overflow: auto;
  min-height: 100%;
  min-width: 320px;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #3b4256;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.page-locked {
  overflow: hidden;
  height: 100vh;
}
.hidden {
  display: none !important;
}

.material-icons {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.btn {
  line-height: 2.4rem;
  min-width: 112px;
  display: inline-block;
  border-radius: 4px;
  background: #FFF;
  padding: 12px 15px;
  color: #3b4256 !important;
  font-weight: 500;
  text-align: center;
  border: none;
  -webkit-transition: all 0.2s linear 0s;
     -moz-transition: all 0.2s linear 0s;
      -ms-transition: all 0.2s linear 0s;
       -o-transition: all 0.2s linear 0s;
          transition: all 0.2s linear 0s;
}

.btn.btn__secondary {
  min-height: 150px;
  border: 1px solid #ffffff;
  border-radius: 75px;
  background: #ffffff;
  color: #000000 !important;
  font-size: 5rem;
  font-weight: bold;
  line-height: 6rem;
  box-shadow: 2px 2px 10px rgba(204, 204, 204, 0.8);
  outline: none;

  @media (max-width: 767px) {
    min-height: auto;
    font-size: 3rem;
    line-height: 4rem;
  }
}

.btn.btn__secondary:hover {
  box-shadow: 2px 2px 10px rgba(121, 146, 228, 0.5);
}

// .btn.btn__secondary:hover {
//   background: #8d191d;
// }

// .btn.btn__secondary:active:hover {
//   background: #7a1619;
// }
// .btn.btn__secondary:disabled {
//   background: #dde1e6;
//   color: #848e99 !important;
//   cursor: not-allowed;
// }

h2 {
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: bold;
  letter-spacing: -0.4px;
  margin-bottom: 22px;
  margin-top: 22px;
  font-family: 'Roboto' !important;
}

@media screen and (min-width:768px) {
  h2 {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}