@import './fonts.scss';
@import './base.scss';
@import '../blocks/interactive-video/interactive-video.scss';
@import '../blocks/view-console/view-console.scss';

.interactive-video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: rgba(59, 66, 86, .97);
}
